.Character {
    .Card {
        background-image: linear-gradient(160deg, #a7e0ff 0, #1a98ff 50%, #0057c9 100%);
        box-shadow: 2px 2px 5px #cdcdcd6e;
        border-radius: 10px;
        color: white;
        display: flex;
        padding: 20px;
        margin: 0 auto;
        width: 420px;
        grid-gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
        div span {
            display: block;
        }
        div span:first-of-type {
            font-weight: bold;
            margin-right: 10px;
        }
        .films_content {
            li {
                list-style: none;
            }
        }
    }
}
